<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
	<title>Burger Menu</title>
</head>

<body>
	<img src="/public/assets/img/156748-best-black-texture-wallpaper-1920x1080.jpg" width="400px" >

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">©</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/felix911104/burger">github</a>
			</div>
		</div>
	</footer>
</body>
</html>